@font-face {
    font-family: 'TT Lakes';
    src: url(../font/TTLakes-Regular.eot);
    src: url(../font/TTLakes-Regular.eot) format('embedded-opentype'),
    url(../font/TTLakes-Regular.woff) format('woff'),
    url(../font/TTLakes-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url(../font/TTLakes-Bold.eot);
    src: url(../font/TTLakes-Bold.eot) format('embedded-opentype'),
    url(../font/TTLakes-Bold.woff) format('woff'),
    url(../font/TTLakes-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url(../font/TTLakes-Medium.eot);
    src: url(../font/TTLakes-Medium.eot) format('embedded-opentype'),
    url(../font/TTLakes-Medium.woff) format('woff'),
    url(../font/TTLakes-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 0;
    padding: 0;
    background-color:rgba(255, 255, 255, 1);
    font-family: 'TT Lakes', 'Arial', 'sans-serif';
}

ul {
    padding: 0;
    margin: 0;
}

.container-modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 320px;
    top: 0;
    left: 0;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
                -2px 0px 4px 0px rgba(69, 79, 126, 0.02);;
}

.header-modal {
    display: flex;
    list-style: none;
}

.header-modal__menu-btn {
    margin: 24px 16px 0 24px;
}

.header-modal__logo {
    margin-top: 18px;
    margin-bottom: 46px;
}

.header-modal__search-btn {
    margin: 24px 24px 0 auto
}

.modal-menu__item {
    box-sizing: border-box;
    list-style: none;
    margin-left: 24px;
    margin-bottom: 32px;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;

}

.modal-menu__item:last-child {
    margin-bottom: 0;
}

.modal-menu__item:hover,
.modal-menu__item:focus {
    color: rgba(126, 126, 130, 1);
    transition-timing-function: ease;
    transition-duration: 1s;
    cursor: pointer;
}

.modal-menu__item:hover::before,
.modal-menu__item:focus::before {
    content: "";
    position: relative;
    left: -25px;
    border-left: 4px solid rgba(65, 246, 215, 1);
    border-radius: 2px;
    
}



.modal-main {
    margin-bottom: auto;
}

.footer-container {
    padding-left: 24px;
    padding-bottom: 32px;
    
    
}

.footer-container a {
    text-decoration: none;
}
.footer__contact {
    display: flex;
    flex-direction: column;

    margin-bottom: 40px;
}

.footer__chat-btn {
    margin: 0 16px;
}

.footer__mail {
    margin-top: 16px;
    margin-bottom: 12px;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: rgba(27, 28, 33, 1);
}
.footer__tel {
    font-family: TT Lakes;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    color: rgba(27, 28, 33, 1);

}

.footer-lang {
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: rgba(27, 28, 33, 1);
}

.footer-lang a:focus {
    color: rgba(126, 126, 130, 1);
}

